html,
body {
    background: rgb(58, 64, 73);
    font-family: 'Open Sans', serif;
    font-size: 15px;
    font-weight: 300;
}

footer {
    margin-top: 10px;
    color: white;
    text-align: center;
    font-style: italic;
}

.foot {
    font-weight: 800;
}

.painel {
    margin-top: 40px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
}

.side {
    background-color: rgb(233, 233, 233);
    margin: 3px;
}

.icon {
    margin-left: 5px;
}

#btn-white {
    font: normal 16pt color: white;
}